@model preNursingHouse.Models.TMeal

@{
    ViewData["Title"] = "AddMeal";
}

<style>

    .section-padding {
        padding-top: 100px;
        padding-bottom: 270px;
    }

    .hero-section-full-height {
        height: 680px;
        min-height: 680px;
        position: relative;
    }

    h4 {
        float: left;
        /*display: inline-block;*/
        text-align: center;
        padding-top: 50px;
        padding-bottom: 10px;
        margin-right: 10px;
        width: 300px;
    }

    .form-group {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 30px;
        margin-right: 10px;
    }

    .form-select option {
        font-size: 20px;
    }

    /*.card {
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s;
        }*/

    /* .card:hover {
                transform: scale(1.01);
                box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
            }*/

   .btn {
  transition: transform 0.2s ease-out;
}

    .btn-outline-success:hover {
        transform: scale(1.1);
    }

</style>

<section class="cta-section section-padding section-bg">
    @*<div class="container">*@

    <div class="col-12 text-center mx-auto">
        <h2 class=" mb-4">餐點確認</h2>
    </div>




    @foreach (var image in Model.TImages)
    {
        <!-- Open Content -->
        <section class="">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-lg-5 mt-4">
                        <div class="card mb-3">
                            <img class="card-img img-fluid" src="https://localhost:7105/images/MealImages/@image.早圖" alt="Card image cap"
                             id="product-detail">
                        </div>
                        <div class="row">
                            <!--Start Controls-->
                            <div class="col-1 align-self-center">
                                <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                    <i class="text-dark fas fa-chevron-left"></i>
                                    @*<span >@Html.DisplayNameFor(model => model.MeId) </span>*@
                                </a>
                            </div>
                            <!--End Controls-->
                            <!--Start Carousel Wrapper-->
                            <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                             data-bs-ride="carousel">
                                <!--Start Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-4">
                                                <a href="#">
                                                    <img class="card-img img-fluid" src="https://localhost:7105/images/MealImages/@image.午圖"
                                                     alt="Product Image 1">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#">
                                                    <img class="card-img img-fluid" src="https://localhost:7105/images/MealImages/@image.晚圖"
                                                     alt="Product Image 2">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#">
                                                    <img class="card-img img-fluid" src="https://localhost:7105/images/MealImages/@image.月圖"
                                                     alt="Product Image 3">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.First slide-->
                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-4">
                                                <a href="#">
                                                    <img class="card-img img-fluid" src="https://localhost:7105/images/MealImages/@image.圖一"
                                                     alt="Product Image 4">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#">
                                                    <img class="card-img img-fluid" src="https://localhost:7105/images/MealImages/@image.圖二"
                                                     alt="Product Image 5">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#">
                                                    <img class="card-img img-fluid" src="https://localhost:7105/images/MealImages/@image.圖三"
                                                     alt="Product Image 6">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!--End Slides-->
                            </div>
                            <!--End Carousel Wrapper-->
                            <!--Start Controls-->
                            @*<div class="col-1 align-self-center">
                                <a href="#multi-item-example" role="button" data-bs-slide="next">
                                    <i class="text-dark fas fa-chevron-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>*@
                            <!--End Controls-->
                        </div>
                    </div>
                    <!-- col end -->
                    <div class="col-lg-7 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="AddMeal">
                                    <input type="hidden" name="MeId" value="@Model.MeId" />

                                    <ul class="list-inline">
                                        <li class="list-inline-item"><h6>餐種:</h6></li>
                                        <li class="list-inline-item"><p class="text-muted"><strong>@Html.DisplayFor(model => model.餐種)</strong></p></li>
                                    </ul>

                                    <ul class="list-inline">
                                        <li class="list-inline-item"><h6>餐別:</h6></li>
                                        <li class="list-inline-item"><p class="text-muted"><strong>@Html.DisplayFor(model => model.餐別)</strong></p></li>
                                    </ul>

                                    <ul class="list-inline">
                                        <li class="list-inline-item"><h6>NT:</h6></li>
                                        <li class="list-inline-item"><p class="text-muted"><strong>@Html.DisplayFor(model => model.價位) /日</strong></p></li>
                                    </ul>

                                    <h6>介紹:</h6>
                                    <p>@Html.DisplayFor(model => model.備註)</p>

                                    <div class="d-flex justify-content-between mt-4">
                                        <div class="w-50 mx-4">
                                            <input type="submit" class="btn btn-outline-success btn-block btn-lg w-100" style="border-radius: 20px" value="訂購">
                                        </div>
                                        <div class="w-50 mx-4">
                                            <button type="button" class="btn btn-outline-danger btn-block btn-lg w-100" style="border-radius: 20px" onclick="window.history.back();">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                       
                    </div>


                </div>
            </div>
        </section>
    }
</section>
<!-- Close Content -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/templatemo.js"></script>
    <script src="~/js/templatemo.min.js"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            }
            ]
        });

    </script>
}