@model IEnumerable<NursingHouse_v3.Models.TOrder>

@{
    ViewData["Title"] = "List";
}
@section Styles{
    <link rel="stylesheet" href="~/assets/plugins/DataTable/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/DataTable/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/DataTable/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<h1 style="text-align:center">訂購衛材</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">新增訂購</a>
</p>
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M進貨編號)
            </th>
            @*            <th>
            @Html.DisplayNameFor(model => model.EId)
            </th>*@
            <th>
                進貨人員
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M衛材編號Navigation.M衛材名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M訂購數量)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M價錢)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M小計)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M訂購日期)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M到貨日期)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M庫存數量)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M訂購狀態)
            </th>
            <th>
                編輯
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                string order = "";
                if ((bool)item.M訂購狀態)
                {
                    order = "進貨中";
                }
                else
                {
                    order = "到貨";
                }
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M進貨編號)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EIdNavigation.E員工姓名)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M衛材編號Navigation.M衛材名稱)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M訂購數量)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M價錢)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M小計)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M訂購日期)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M到貨日期)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.M庫存數量)
                    </td>
                    <td>
                        @order
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id=item.M進貨編號}, new { Class = "btn btn-success" })
                        @Html.ActionLink("刪除", "Delete", new { id=item.M進貨編號 },new{Class = "btn btn-danger",onclick="return confirm('確定要刪除嗎?')",@class="btn btn-danger"})
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts
    {
    <script>

    </script>

    <!-- DataTables  & Plugins -->

    <script src="~/assets/plugins/DataTable/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/DataTable/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/DataTable/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/DataTable/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/DataTable/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/DataTable/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/jszip/dist/jszip.min.js"></script>
    <script src="~/assets/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/DataTable/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/DataTable/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/DataTable/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                //"language": {
                //        "url": "cdn.datatables.net/plug-ins/1.13.3/i18n/zh-HANT.json",
                //    },
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        })
    </script>
}
